.star{
    font-size: 20px;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(113, 113, 113);
    cursor: pointer;
    display: inline;
    
}

.golden{
    color: gold;
}

.rated{
    color: gold;
}