body{
    margin:0;
    background-color: cornsilk;
}

#allsubregions{
    display: flex;
    flex-direction: column;
}

.subregion{
    display: flex;
    flex-direction: column;
    position: relative;
}



.data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor:pointer;
}

.data>h1{
    width: 25%;
}

header{
    display: flex;
    background-color: lightblue;
    justify-content: space-evenly;
}
header>h1{
    width: 25%;
}
main{
    display: flex;
    flex-direction: column;
}

.region{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(240, 246, 250);
    height: fit-content;
    overflow: hidden;
}
.title{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-evenly;
    
}
.title>h3{
    width: 20%;
}

.regionContainer{
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.region>p{
    font-size: 20px;
}

.region>*{
    width: 20%;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.number{
    height: 3rem;
    width: 3rem;
    background-color: rgb(230, 218, 218);
    font-size: 20px;
    text-align: center;
    line-height:3rem;
    border-radius: 10px;
    margin-left: 20px;
}
.currPageDown{
    background-color:rgb(112, 131, 145)
}

.sign{
    position: absolute;
    left:3%;
    font-size: 30px;
    color:rgb(0, 50, 88);
    transition: 0.5s;
    top:10px;
}